.fa-linkedin-in {
    background-color: rgb(255, 255, 255);
    color: rgb(61, 60, 60);
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-open_sans {
    font-family: 'Open Sans', sans-serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-quicksand {
    font-family: 'Quicksand', sans-serif;
}

.font-dosis {
    font-family: 'Dosis', sans-serif;
}

.font-raleway {
    font-family: 'Raleway', sans-serif;
}

.font-lato {
    font-family: 'Lato', sans-serif;
}

.gradient {
    background: #2ecc71;
}

.gradient:hover {
    background: #f1c40f; ;
}

.timerheading {
    color: white;
}

#show {
    font-size: 30px;
    border: none;
}

#startpause {
   /* border: 3px solid rgb(159, 159, 185); */
    color: rgb(19, 19, 19);
    background: rgb(255, 253, 253);
    font-size: 1.5rem;
}


#fullscreen {
    font-size: 30px;
    background: white;
    color: rgb(5, 43, 54);
    
}