.fa-linkedin-in {
    background-color: rgb(255, 255, 255);
    color: rgb(61, 60, 60);
}
.card-body {
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(151, 10, 130, 1) 0%, rgba(33, 33, 33, 1) 100.2%);
    border-radius: 10px 10px 0px 0px;
    min-height: 150px
}

.btn-info {
    background-image: linear-gradient(to right, #D31027 0%, #EA384D 51%, #D31027 100%);
    border: none;
    border-radius: 0px 0px 10px 10px;

}

.btn-info:hover {
    background-position: right center;
}